*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page {
  font-family: $font-accent;
  color: $color-main-dark;
  background-color: $color-white;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;

  &:has(.page__menu:target) {
    overflow: hidden;
    height: 100vh;
  }
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;

  &--wide {
    @media (min-width: 1260px) {
      max-width: 1260px;
      padding: 0;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.museum-hours,
.now-on-view,
.explore-online,
.contacts {
  position: relative;
  z-index: 2;
  background-color: $color-white;
}

.contacts {
  margin-bottom: 180px;

  @media (min-width: 768px) {
    margin-bottom: 359px;
  }
}
