@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin on-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin on-tv {
  @media screen and (min-width: $tv) {
    @content;
  }
}
