// _variables.scss

// 1. Кольори
$color-white: #fff;
$color-red: #d12d35;
$color-dark-red: #a82326;
$color-main-dark: #161616;
$color-grey: #999;
$color-light-grey: #e0e0e0;

// 2. Шрифти
$font-accent: 'Cinzel', serif;
$font-main: 'Roboto', sans-serif;

// 3. Шляхи (дуже зручно!)
$base-img-path: '../../images/';
$base-icon-path: '../../icons/';

// 4. Breakpoints (краще використовувати змінні безпосередньо в міксинах)
$tablet: 768px;
$desktop: 1024px;
$tv: 1920px;

// 5. Typography (можна перевести в rem)
$h1-size-mobile: 2.5rem; // 40px
$h1-size-tablet: 4rem; // 64px
$h1-size-tv: 7.5rem; // 120px

// 6. Header Specific
$header-padding-mobile: 10px 20px;
$header-padding-tablet: 20px 40px;
$title-width-mobile: 280px;
$title-width-tablet: 600px;
$title-width-tv: 1000px;

// Глобальні налаштування анімацій (Вимога №9)
$transition-speed-fast: 0.2s; // Для кнопок, посилань, кольору тексту
$transition-speed-main: 0.4s; // Для трансформацій: hover зображень, виїжджання меню
$transition-ease: ease; // Єдиний тип згладжування
